{% extends 'base.html' %}

{% block content %}
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
 
        <div class="about" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="/static/images/about.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header">
                                <p>About Us</p>
                                <h2>Snipping Since 2008</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    A premier salon dedicated to providing top-notch beauty and grooming services. Located in the heart of Chennai, Snip Snap offers a wide range of services, including stylish haircuts, vibrant hair coloring, rejuvenating facials, relaxing manicures and pedicures, and precise waxing treatments.
                                </p>
                                <p>
                                    Our team of highly skilled professionals is committed to helping you look and feel your best, using the latest techniques and high-quality products. At Snip Snap, we believe in creating a welcoming and comfortable atmosphere for all our clients, ensuring a personalized and delightful salon experience every time you visit.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}