{% extends 'base.html' %}

{% block content %}
        
        
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Privacy Policy</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="privacy">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Our Privacy Policy</h2>
                </div>
                <div class="row">
                    <h4>Privacy Policy</h4>
                    <p>
                        Protecting your private information is our priority. This Statement of Privacy applies to https://www.snipsnapsalon.com and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to Snip Snap Salon include https://www.snipsnapsalon.com. The Snip Snap Salon website is a Local Business site. By using the Snip Snap Salon website, you consent to the data practices described in this statement.
                    </p>
                    <h4>Collection of your Personal Information</h4>
                    <p>
                        We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services available on the Site. These may include: (a) registering for an account on our Site; (b) entering a sweepstakes or contest sponsored by us or one of our partners; (c) signing up for special offers from selected third parties; (d) sending us an email message; (e) submitting your credit card or other payment information when ordering and purchasing products and services on our Site. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future. 
                        </p>
                    <h4>Use of your Personal Information</h4>
                    <p>
                            Snip Snap Salon collects and uses your personal information to operate its website(s) and deliver the services you have requested. 
                            <br><br>
                            Snip Snap Salon may also use your personally identifiable information to inform you of other products or services available from Snip Snap Salon and its affiliates. 
                    </p>
                    <h4>Sharing Information with Third Parties</h4>
                    <p>
                        Snip Snap Salon does not sell, rent or lease its customer lists to third parties. <br><br>
                        Snip Snap Salon may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Snip Snap Salon, and they are required to maintain the confidentiality of your information. 
                        <br><br>
                        Snip Snap Salon may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Snip Snap Salon or the site; (b) protect and defend the rights or property of Snip Snap Salon; and/or (c) act under exigent circumstances to protect the personal safety of users of Snip Snap Salon, or the public. 
                    </p>
                    <h4>Changes to this Statement</h4>
                    <p>
                        Snip Snap Salon reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our site, and/or by updating any privacy information on this page. Your continued use of the Site and/or Services available through this Site after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy. 
                    </p>
                    <h4>Contact Information</h4>
                    <p>
                        Snip Snap Salon welcomes your questions or comments regarding this Statement of Privacy. If you believe that Snip Snap Salon has not adhered to this Statement, please contact Snip Snap Salon at: 
                        <br><br>
                        <strong>Address:</strong><br>
                        183, Great Southern Trunk Rd, Arcot Rd, <br>Vadapalani, Chennai, Tamil Nadu 600026.
                        <br><br>
                        <strong>Email Address:</strong><br>
                        info@snipsnap.com
                    </p>
                    <br><br>
                </div>
            </div>
        </div>

        

        {% endblock %}