{% extends 'base.html' %}

{% block content %}
        
        
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Service Menu</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="menu1" id="menu">
            <div class="container">
                <div class="section-header text-center">
                    <p>Premium Services</p>
                    <h2>Services That We Offer for You</h2>
                    <div class="row">
                        <div class="service-menu col-4">
                            <img src="/static/images/1.png" alt="Image">
                            <h4>Haircuts & BeardStyling</h4>
                            <p>Our expert stylists are skilled in the latest cutting techniques and trends, ensuring you leave with a style that perfectly suits your personality and lifestyle. Whether you prefer a classic cut or something more avant-garde, we have you covered.</p>
                        </div>
                        <div class="service-menu col-4">
                            <img src="/static/images/2.png" alt="Image">
                            <h4>Facials & Skincare</h4>
                            <p>Pamper your skin with our range of facial treatments tailored to your skin type and concerns. From deep cleansing facials to anti-aging treatments and hydrating masks, our skincare experts use top-quality products to rejuvenate and refresh your complexion.</p>
                        </div>
                        <div class="service-menu col-4">
                            <img src="/static/images/3.png" alt="Image">
                            <h4>Hair Treatments</h4>
                            <p>Revitalize your hair with our luxurious treatments designed to repair, nourish, and enhance your locks. We offer a variety of treatments including deep conditioning, keratin smoothing, and scalp therapy.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="service-menu col-4">
                            <img src="/static/images/4.png" alt="Image">
                            <h4>Manicures & Pedicures</h4>
                            <p>Indulge in our luxurious nail services to keep your hands and feet looking their best. Our manicures and pedicures include meticulous grooming of nails and cuticles, exfoliation, massage, and polish application.</p>
                        </div>
                        <div class="service-menu col-4">
                            <img src="/static/images/5.png" alt="Image">
                            <h4>Waxing & Hair Removal</h4>
                            <p>Experience smooth, hair-free skin with our professional waxing services. We offer a variety of waxing options for different areas of the body, ensuring a comfortable and efficient hair removal process.</p>
                        </div>
                        <div class="service-menu col-4">
                            <img src="/static/images/6.png" alt="Image">
                            <h4>Hair Color & Highlights</h4>
                            <p>Our color specialists use premium products to achieve stunning, long-lasting results. From subtle highlights to bold, dramatic changes, we offer a range of coloring services to bring your hair vision to life.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu2">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Our Services</p>
                        <h2>Luxurious Hair and Beauty Services</h2>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>Kids Cut</h4>
                            <div class="menu-text">
                                <h5><span>Boys</span> <strong>₹350</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Girls</span> <strong>₹450</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Fringe/Bangs Cut</span> <strong>₹350</strong></h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>Men's hairCut</h4>
                            <div class="menu-text">
                                <h5><span>Basic Stylist</span> <strong>₹350</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Senior Stylist</span> <strong>₹600</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Top Stylist</span> <strong>₹700</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Technical Director</span> <strong>₹1000</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Fringe/Bangs Cut</span> <strong>₹350</strong></h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>women's Cut</h4>
                            <div class="menu-text">
                                <h5><span>Basic Stylist</span> <strong>₹800</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Senior Stylist</span> <strong>₹1100</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Top Stylist</span> <strong>₹1600</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Technical Director</span> <strong>₹2000</strong></h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>Hair Styling</h4>
                            <div class="menu-text">
                                <h5><span>Wash & Blast Dry</span> <strong>₹600</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Easy Breezy (Soft Curls)</span> <strong>₹800</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Go Sleek (Ironing)</span> <strong>₹1200</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Magic Ward (Tongs)</span> <strong>₹1200</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Big Hair Dry (Volumizing)</span> <strong>₹1200</strong></h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>Hair Treatments</h4>
                            <div class="menu-text">
                                <h5><span>Deep Nourishing Spa</span> <strong>₹1800</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Dandruff Clear Spa</span> <strong>₹1800</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Hair Fall Rescue</span> <strong>₹1800</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Hair Rejuvenating</span> <strong>₹1800</strong></h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>Texture Change</h4>
                            <div class="menu-text">
                                <h5><span>Volume Up (Perming)</span> <strong>₹8000</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Re-bond (Smoothening)</span> <strong>₹8000</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Keratin Treatment</span> <strong>₹10000</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Botox Treatment</span> <strong>₹10000</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Olaplex Treatment</span> <strong>₹6000</strong></h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>Hair Color</h4>
                            <div class="menu-text">
                                <h5><span>Global Colour: Conventional</span> <strong>₹4000</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Global Colour: Unconventional</span> <strong>₹6000</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Partial Highlights</span> <strong>₹500 - ₹600</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Full Highlights</span> <strong>₹7000 - ₹9000</strong></h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>Waxing</h4>
                            <div class="menu-text">
                                <h5><span>Full Body</span> <strong>₹4500</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Full Arms</span> <strong>₹700</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Full Legs</span> <strong>₹1500</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Under Arms</span> <strong>₹350</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Face & Neck</span> <strong>₹900</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Upper Lip</span> <strong>₹120</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Chin</span> <strong>₹120</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Cheeks</span> <strong>₹180</strong></h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>Manicure</h4>
                            <div class="menu-text">
                                <h5><span>Cut & File</span> <strong>₹200</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Basic</span> <strong>₹600</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Advanced</span> <strong>₹800</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Spa</span> <strong>₹1100</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Luxury</span> <strong>₹1400</strong></h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-12">
                        <div class="menu-item1">
                            <h4>Pedicure</h4>
                            <div class="menu-text">
                                <h5><span>Cut & File</span> <strong>₹250</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Basic</span> <strong>₹700</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Advanced</span> <strong>₹990</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Spa</span> <strong>₹1300</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Luxury</span> <strong>₹1500</strong></h5>
                            </div>
                        </div>
                        <div class="menu-item1">
                            <div class="menu-text">
                                <h5><span>Footlogix</span> <strong>₹1800</strong></h5>
                            </div>
                            <a class="btn custom-btn" href="{% url 'booking' %}">View more sevices</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        {% endblock %}