{% extends 'base.html' %}

{% block content %}
        
        
        <div class="page-header mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Terms and Conditions</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="terms">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Our Terms & Conditions</h2>
                </div>
                <div class="row">
                    <p>
                        These terms and conditions apply for availing services at Snip Snap Salon. Additional terms and conditions may apply in respect of the particular service. These terms and conditions are subject to change without any prior notice. Hence, customers are requested to refer to the terms and conditions from time to time and before availing any service. Further, by availing the services, the customer shall be deemed to have accepted all the below mentioned Terms and Conditions and it constitutes a contract between the customer and the organization owning and running the respective Snip Snap Salon. 
                    </p>
                    <p>
                        <ul>
                            <h4>APPOINTMENT & CANCELLATIONS</h4>
                            <li>It is advisable to book an appointment before visiting Snip Snap Salon to avoid disappointments.</li>
                            <li>We will be happy to change / reschedule your booking with prior notice subject to availability of spare appointment slots.</li>
                            <li>We hold appointments for 15 minutes post the booked time. In case of no show within 15 minutes, your appointment shall be treated as cancelled.</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <h4>CONSENT AND CONTRAINDICATION</h4>
                            <li>We reserve the right to refuse a customer/any service should we feel that the service requested for is against SOP or may not be safe/suitable for the customer given the medical / hygiene / physical condition as disclosed by the customer during the consultation process.</li>
                            <li>Snap Snap Salon and its staff also reserves the right to refuse service to any customer should they feel threatened due to verbal or physical abuse of any sort.</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <h4>PRICES</h4>
                            <li>Prices of services and products are exclusive to each Snip Snap Salon. Snip Snap Salon reserves the right to alter prices without any prior notice.</li>
                            <li>Prices as on date of service delivery/product purchase will be billed and are subject to tax at prevailing rates.</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <h4>SAFETY</h4>
                            <li>All valuables carried into the salon are at the sole responsibility of the Customer. Snip Snap Salon would not be liable for any loss or damage of the same.</li>
                            <ul>
                                <li>Snip Snap Salon gives utmost importance to Conduct of Business Practices with highest standards of health, safety, ethics & compliance with applicable laws and regulations. Do contact the Salon Manager or the Area Business Manager to give suggestions/feedback or report any incident that you consider to be not in accordance with these standards.</li>
                            </ul>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <h4>REFUND & EXCHANGES</h4>
                            <li>Snip Snap Salon follows a “No Refund” Practice. In the unlikely circumstance that the service delivered has not been up to your satisfaction, please register your complaint on care.LLPL@unilever.com</a> / 1800 123 4567 within 15 days of availing the service.</li>
                            <li>fter taking consultation and the service has been completed in accordance with the agreed terms, the customer is liable to pay the entire service charge.</li>
                            <li>For “Returns & Exchanges”, we accept damaged, un-opened and unused products for exchange (no refund) with a valid bill within 7 days of the bill date.</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <h4>OFFERS AND PROMOTIONS</h4>
                            <li>Service/Series Sale package is non-transferable and must be taken within the 4 / 6 / 12 month period corresponding to the service series booked.</li>
                            <li>Terms and conditions of the respective offer and promotion would apply in addition to these general terms and conditions.</li>
                            <li>Services and products available under the offer/ promotion scheme will also be available without the offer/ promotion.</li>
                            <li>Offers and promotions cannot be exchanged for monetary compensation;</li>
                            <li>No two offers can be clubbed.</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <h4>PAYMENTS AND BILLING</h4>
                            <li>We accept payments made in cash/Credit/Debit cards affiliated with Visa, MasterCard and Amex</li>
                            <li>Please ensure to collect your Bill on the completion of services provided. In case your valid mobile no. is registered with us we will  send you a bill via SMS after closing the bill in the system. You may also opt for a physical bill at the salon.</li>
                            <li>In case no bill has been shared through any mode of communication within 24 hours of the completion of service by the Salon, please report it by writing to us at care.LLPL@unilever.com /or calling us on 1800 123 4567. For all genuine reported cases of missed bills, customers will be issued a Snip Snap Salon e-gift card worth Rs.5000 on the registered email ID/SMS, post investigation of the case. Missed bills are cases where no authorized manual bill is issued or no e-bill is issued after completion of service (not applicable where failure/ delay is caused due to system /network/ connectivity issues or incorrect mobile no). The e-Gift Card is one time redeemable only on services.</li>
                            <li>The above can be claimed only if you have registered your valid Name, Mobile No. & Email id with us at the time of billing.</li>
                            <li>A duplicate bill can be procured within 15 days for the services availed at the Snip Snap Salon.</li>
                            <li>In case any discrepancy is noticed in the bill, then the same should be resolved/registered with care.LLPL@unilever.com /1800 123 4567 or by visiting the salon from where services were availed within 15 days.</li>
                        </ul>
                    </p>
                    <p>
                        <ul>
                            <h4>CUSTOMER CARE</h4>
                            <li>Please email care.LLPL@unilever.com / Call Toll Free : 1800 123 4567 in case of any query, grievance/complaint/feedback.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        

        {% endblock %}