*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    width: 1350px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0,0,1,0.9);
}

.container-fluid img{
    width: 10%;
    margin-bottom: 10px;
    
}

.collapse a{
    color: black;
}

.container h2{
    margin-left: -50px;
}

.btn{
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 10%;
    background-color: #fbaf32;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    margin: -280px 50px 0px 1100px;
}

.btn a{
    color: white;
}


.btn:hover{
    background: transparent;
    color: black;
    border: 2px solid #fbaf32;
    font-size: 18px;
}

.btn a:hover{
    color: black;
}

#pending{
    background-color: yellow;    
    color: black;
}

#accept{
    background-color: green;
    color: white;
}

#home{
    background-color: #434343;
    color: white;
}

#reject{
    background-color: brown;
    color: white;
}

#contact{
    background-color: #fbaf32;
    color: black;
}

.card-body{
    color: black;
}

.card-body a{
    font-size: 35px;
    text-decoration: none;
    color: black;
}

#yes{
    background-color: green;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border: none;
    width: auto;
    cursor: pointer;
}

#no {
    background-color: red;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border: none;
    width: auto;
    cursor: pointer;
}


#yes:hover {
    background-color: darkgreen;
}

#no:hover {
    background-color: darkred;
}


.nav{
    margin-left: 35px;
    font-size: 20px;
}